* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* body {
    display: flex;
    background-color: #9d9db4ee;
} */

/* .menu-lateral {
    background-color: #001530;
    width: 15%;
    height: 100vh;
} */

.titulo {
    color: white;
    display: flex;
    justify-content: center;
}

.container-grafico {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    width: 500px;
}

h1 {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: center;


}

.graficos {
    display: flex;
    justify-content: space-around;
    
}

.grafico_umidade{
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #ffffff;
}

.grafico_temperatura{
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #ffffff;
}



.navbar {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 25px;
}

h4 {
    margin: 25px;
    display: flex;
    justify-content: right;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 40px;

}
#myChart{
    background-color: grey;
    border-radius: 5px;
}
    


