*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    border: none;
  }
  
  body{
      background: #ececf4ee;
  }
  
  
  
  
  .header{
    background-color: black;
    width: 100%;
    height: 100px;
    display: fixed;
    position: fixed;
    box-shadow: 0 0 10px 10px  #dbdadc;
    z-index: 1000; /*O z-index é uma propriedade CSS que controla a ordem de empilhamento (ou camadas) dos elementos em uma página da web*/
}

.header .card-logo{
    width: 100%;
    height: 0px;
}

.header .container{ /*Pega o container dentro do header*/
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between; /*Mexe no eixo X*/
    align-items: center; /*Mexe no eixo y*/
}

.logo{
    color: cornflowerblue;
}

.header .container li{
    display: inline; 
    padding: 0 15px;
}

.header .container .navbar li a{
    text-decoration: none;
    color: white;
}

.header .container .cadastro-login li a{
    text-decoration: none;
    color: white;
}

.logo-cold{
    color: #ffffff;
}

.logo-tech{
    color: #ffffff;
}

.imagem-logo{
    width: 150px;
    padding: 5px;
    display: flex;
}
  
  
  
  
  
  .card{
      display: flex;
      padding-top: 25px;
      justify-content: space-evenly;
  }
  
  .img_login {
      width: 30%;
      padding-top: 100px
  
  }
  
  .imagem_login{
      width: 100%;
      height: 455px;
      border-radius: 15px;
  }
  
  .card_login {
      box-shadow: 0 0 10px 4px #ffffff;
      border: none;
      border-radius: 15px;
  
      align-items: center;
      padding: 20px;
      width: 30%;
      margin-top: 100px;
  }
  
  .titulo_login {
      display: flex;
      justify-content: center;
  }
  
  .container_input {
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 40%;
      gap: 24px;
  }
  
  
  
  .ipt_senha, .ipt_username {
      border: 1px solid;
      border-radius: 8px;
      padding-left: 10px
  }
  
  .ipt_senha, .ipt_username, .botao{
      width: 270px;
      height: 40px;
  }
  
  
  .username, .senha {
      margin: 20px 0 10px 0;
  }
  
  .recuperar_senha{
      font-size: 14px;
      margin-top: 8px;
      color: black;
  
  }
  
  .botao{
      padding: 5px;
      margin-top: 20px;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      background: #001530 ;
      box-shadow: 7px 6px 4px -5px #001530;
      margin-top: 20px;
      color: white
  }
  
  
  .footer .container p{
    text-align: center;
    color: white;
 }
 
 .footer .container .imagem-footer{
    background-image: url('./footer.png'); /* Substitua pelo caminho correto para a sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o rodapé */
    padding: 100px; /* Espaçamento interno no rodapé */
    filter: grayscale(120%) 
    brightness(0%)
    sepia(0%) /**/
    hue-rotate(500deg);
    height: 80px;
    position: relative;
    
 }
 
 /*.container .imagem-footer{
    height: 80%;
 }
 */
 
 .imagem-footer { /*DIV DA IMAGEM FOOTER*/
    /* top: 2600px; */
    max-width:100%;
    max-height:100%;
    position:relative;
    margin:0 auto;
 }
 
 .titles-footer {
    color: white;
    position: relative;
    top: 230px;
    z-index: 100;
 }
 
 
 
 
 .info-footer p{
    display: flex;
    flex-direction:column;
    justify-content: space-around; 
    color: white;
    align-items: flex-start; 
    gap: 2px;
    position: relative;
    top: 240px;
    z-index: 100;
 
 }
 
 .icones-flex {
    display: flex;
 
 }
 .container_infor_footer{
    text-align: center;
    display: flex;
    justify-content: space-around;
 }
 





  
  
  
  .icones {
      width: 20px; /*Defina o tamanho desejado para o ícone */
      height: 20px;
      background-color:   white;
      margin: 0 3px;
      border-radius: 5px;
      background-color: transparent;
  }
  
  .instagram {
      content: url('./assets/instagram.svg');
  }
  
  .facebook {
      
      content: url('./assets/facebook-f.svg');
  }
  
  .youtube{
       content: url('./assets/youtube.svg');
  }
  
  .github{
       content: url('./assets/github-alt.svg');
  }
  
  .twitter{
          content: url('./assets/twitter-alt.svg');
  }
  
  .titles-footer{
      text-transform: uppercase;
      color: white;
      margin-bottom: 10px;
  }
  
  
  .sucesso {
      color: green;
  }
  .erro {
      margin: 10px;
      color: red;
  }